body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #ff7e5f, rgb(254, 180, 123));
}

header {
  background-color: #ff6f61;
  color: white;
  padding: 10px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container {
  position: relative;
}

.cart-btn, .favorites-btn {
  background: #ff6f61;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.cart, .favorites {
  position: absolute;
  top: 40px;
  right: 0;
  background: rgb(26, 24, 24);
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 250px;
  z-index: 1000;
}

.hidden {
  display: none;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.product-img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-price {
  color: #000000;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.add-to-cart, .add-to-favorites {
  background:rgb(254, 180, 123);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.add-to-cart {
  background: #ff6f61;
}
